__pycache__
bindings
build
contrib
doc
examples
src
testpy-output
utils
waf-tools
AUTHORS
CHANGES.html
CONTRIBUTING.md
LICENSE
Makefile
README.md
RELEASE_NOTES
test.py
testpy.supp
utils.py
VERSION
waf
waf.bat
wscript
wutils.py