# 将NS3框架原本文件忽略掉，不纳入git
# 所有自己开发的代码都应带有 “cs-” 前缀，否则会被忽略掉



# 原NS3框架所有目录、文件，及使用过程中产生的文件
__pycache__/
bindings/
build/
contrib/
doc/
examples/
# 不能写成scratch/不然会将目录也忽略，这样后面的!scratch/cs-*是不生效的
# 这里这几个都是为了配合后面!规则的
# 参考https://www.cnblogs.com/kevingrace/p/5690241.html
scratch/*
src/*
src/applications/*
src/applications/helper/*
src/applications/model/*
testpy-output/
utils/
waf-tools/
AUTHORS
CHANGES.html
CONTRIBUTING.md
LICENSE
Makefile
README.md
RELEASE_NOTES
test.py
testpy.supp
utils.py
VERSION
waf
waf.bat
wscript
wutils.py
.waf*
.lock-waf*
.idea


# 反选规则。必须放在忽略规则之后，并且忽略规则不能将目录给忽略了
# 将自己的代码保留出来自己的代码全部需要带“cs-”前缀
!src/applications
!src/applications/helper
!src/applications/model
!src/applications/helper/cs-*
!src/applications/model/cs-*
!scratch/cs-*

# .vscode内包含的文件 用于使用VSCode开发调试程序
